.submitButton {
  width: 90%;
}

.submitButton input {
  width: 100%;
  border: 0;
  padding: 10px;

  font-size:large;

  color: white;
  background-color: #F8C668;
}

.submitButton input:hover {
  background-color: #E56E14;
  cursor: pointer;
}
