footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(145, 141, 141);
    padding: 15px;
    text-align: center;
    color: white;
}


.linkFooter {
    padding: 5px;
    border-radius: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    display: inline-block;
  
    transition: all ease-in-out 300ms;
  }
  
  .linkFooter:hover {
    background-color: rgb(145, 141, 141);
    color: rgb(218, 234, 248);
    transform: translateY(-3px);
  }

.listaFoot{
    display: flex;
    flex-direction: column;
}

.listaFoot li{
    padding: 5px;
}