:root {
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 100px;

  font-family: sans-serif;

  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  height: 100px;
  width: 100px;
}

.logo:hover {
    background-color: rgba(255, 255, 255, 0);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-weight: 500;
  font-size:large;
}

a:hover {
    color: white;
    background-color: #de4901;
}

.loginContainer {

}

.cadastro {
    padding: 15px;
    background-color: #de4901;
    color: white;
    border-radius: 10px;
}

.entrar {
    padding: 15px;
}

.entrar:hover {
    background-color: #de4901;
    border-radius: 10px;
}
