.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    color: #434343;
    font-size: 22px;
    margin: 10px 30px 15px 30px;

}

.flexList{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.flexList li{
    margin: 0 10px 0 10px;
}


