.MinhaContaForm {
  width: 300px;
  max-width: 300px;
}

.MinhaContaForm form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.MinhaContaForm h1 {
  font-size: 25px;
  line-height: normal;
  font-weight: 400;
  color: #434343;

  margin-bottom: 15px;
}
